/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 27, 2017, 3:09:30 PM
    Author     : fabio
*/

@font-face{
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin'), local('Cabin-Regular'), url(https://fonts.gstatic.com/s/cabin/v10/yQOMOX5hR0-6LTD879t-PQ.woff2) format('woff2');
}

body{
    background-color: #eaeaea;
    font: 15px/20px "Lato", "Open Sans", sans-serif;
    margin: 0px;
}

.proPic{
    position: relative;
    width: 50px;
    height: 50px;
}

.proPic img{
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}

a:link, a:visited{
    text-decoration: none;
    cursor: pointer;
    color: #365899;
}

a:hover{
    text-decoration: underline;
}

header{
    top: 0;
    z-index: 100;
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #00BBDC;
    box-shadow: 0 1px 8px rgba(0,0,0,0.4);
    cursor: default;
}

/*Fix per posizionare la navbar a destra*/
header::after{
    content: '';
    display:inline-block;
    height: 0;
    font-size: 0;
    line-height: 0;
    width: 100%;
}

header a:link, header a:visited{
    color: #fff;
    text-decoration: none;
}

#title{
    font: 30px/40px 'Cabin', Lato, sans-serif;
    padding: 5px;
    padding-left: 14px;
    color: #ffffff;
    text-shadow: 0 0 5px rgba(0,0,0,0.1);
    vertical-align: middle;
    display:inline-block;
}

nav{
    font-size: 17px;
    line-height: 25px;
    vertical-align: middle;
    display: inline-block;
    padding-right: 5px;
    margin-left: 15px;
}

nav a:link, nav a:visited{
    padding-left: 10px;
    padding-right: 10px;
    display: block;
}

nav ul, nav li{
    list-style-type: none;
    display: inline-block;
}

nav ul{
    padding: 0;
    margin: 0;
}

nav li:hover{
    border-radius: 5px;
    background-color: rgba(0,0,0,0.05);
} 

nav li.active{
    border-radius: 5px;
    background-color: rgba(0,0,0,0.1);
}

#loggedUser{
    color: #fff;
    text-align: center;
    position: absolute;
    right: 15px;
    padding-left: 35px;
    margin-right: 2.1%;   
    top: 50%;
    transform: translate(0,-50%);
}

#loggedUser .proPic{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 2px;
    left: 2px;
}

#loggedUser a:hover{
    text-decoration: underline;
}

#divBody{
    position: relative;
    margin-top: 63px;
    width: inherit;
    height: 100%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 10px;
}

:target{
    padding-top: 63px;
    margin-top: -63px;
}

.content{
    max-width: 1000px;
    height: 100%;
    background-color: #ffffff;
    margin-left: 22%;
    padding: 5px;
    border-radius: 5px;
}

#sideBar{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 18.5%;
    min-width: 149px;
    max-width: 250px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

#personeSide, #gruppiSide{
    margin: 30px;
}

.sideTitle{
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    margin: 0;
}

#posts{
    padding: 15px 0;
}

.postType{
    margin: 0 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 2px 13px rgba(0,0,0,0.4);
    
    overflow: hidden;
}

.postUserInfo::after{
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    margin: 5px 0px;
    background-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0));
}

.postUserInfo .username{
    vertical-align: top;
    display: inline-block;
    margin: 0;
}

.postUserInfo .proPic{
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

p{
    margin: 0px;
}

.postPic{
    max-width: 270px;
}

input:not([type="submit"]), textarea{
    box-sizing: border-box;
    width: 100%;
    resize: none;
    font-family: Lato, "Open Sans", sans-serif;
    background: transparent;
    padding: 0 8px;
    border: 0;
    border-radius: 2px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    outline: none;
}

#profileContent{
    text-align: center;
}

#formdati{
    margin: 15px;
    text-align: left;
    display: inline-block;
    width: 60%;
}

#formdati .proPic{
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}

form{
    text-align: left;
    display: inline-block;
}

.campoFormProfilo{
    width: 100%;
    margin-bottom: 10px;
}

.campoFormProfilo label{
    display: inline-block;
    vertical-align: bottom;
    box-sizing: border-box;
    width: 30%;
    min-width: 92px;
    overflow: hidden;
    text-align: left;
}

.campoFormProfilo input, .campoFormProfilo textarea{
    vertical-align: bottom;
    width: 60%;
    min-width: 187px;
    margin-left: 8.5%;
}

button{
    border-radius: 5px;
    width: 100%;
    padding: 5px 0;
    background-color: #00BADB;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.4);
    border: none;
    color: #fff;
    font-weight: bold;
}

button:hover{
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.3), transparent);
}



/*
label:not(.firstLabel)::before{
    content: '\A';
    white-space: pre;
}
*/

#login{
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 40px;
    padding-top: 20px;
    margin: 0 20%;
}

#login form{
    margin: 0 auto;
    width: 40%;
}

#login h1{
    font-family: "Cabin";
    font-weight: 400;
}

article{
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
}

#sum{
    display: inline-block;
    padding: 5px 60px;
    box-shadow: 0 2px 30px rgba(0,0,0,0.2);
    border-radius: 15px;
}

#sum ol{
    text-align: left;
    padding: 0;
    list-style-type: none;
}

#sum ol ol{
    padding-left: 20px;
}

li ol{
    list-style-type: lower-alpha;
}

@media only screen and (max-width: 780px){
    
    .content{
        margin-left: 169px;
    }
   
    
}

@media only screen and (max-width: 635px){
    #divBody{
        margin-top: 113px;
    }
    
    header{
        height: 100px;
    }
    
    header#logHeader{
        height: 50px;
    }
    
    nav{
        margin-top: 14px;
        display: block;
        text-align: center;
    }
    
    nav ul{
        margin: auto;
    }
    
    nav a:link, nav a:visited{
    padding-left: 5px;
    padding-right: 5px;
    }
    
    nav#logNav{
        margin-left: 15px;
        vertical-align: top;
        display: inline-block;
    }
    
    #loggedUser{
        top: 25%;
    }
}

@media only screen and (max-width: 480px){
    
    #sideBar{
        position: relative;
        max-width: 100%;
        width: inherit;
        margin-bottom: 10px;
    }
    
    .content{
        margin: 0;
        position: relative;
    }
    
    #login{
        margin: 0 10%;
    }
    
    #login form{
        width: 50%;
    }
}

h1{
    font: 30px/35px "Lato", "Open Sans", sans-serif;
    font-weight: bold;
    margin-top: 0px;
}

h2{
    font: 25px/30px "Lato", "Open Sans", sans-serif;
    font-weight: bold;
}

h3{
    font: 20px/25px "Lato", "Open Sans", sans-serif;
    font-weight: bold;
}